$light-blue: #71c9f8;
$dark-blue: #1da1f2;
$btn-color: $dark-blue;

.users{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item{
    width: 49.4%;
    margin-top: 4px;
    padding: 14px;
    display: flex;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 7px #dce1e6;
    position: relative;
  }

  &__avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  &__info{
    padding-left: 8px;
  }

  &__name{
    text-decoration: none;
  }

  &__location{
    font-family: Roboto;
    font-size: 14px;
  }

  &__follow-btn{
    color: #dee5ec;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: $btn-color;
    width: 100px;
    height: 39px;
    border-radius: 9999px;
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    .followed{
      color: $light-blue;
    }
  }


}
