.nav {
    grid-area: n;

    &__item {

        &:hover {
            background-color: #dce1e6;
        }

        &-text {
            display: block;
            text-decoration: none;
            color: #2a5885;
            font-size: 20px;
        }
    }
}