.dialogs{
  display: grid;
  grid-template-columns: 2fr 8fr;

  &__item{
    padding: 10px;
    display: flex;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 7px #dce1e6;
  }

  &__link{
    text-decoration: none;
    color: #333;


  }

  &__link.active &__item{
    box-shadow: 0 0 7px #7fb6ec;
    border: 1px solid #69a0cb;
  }

  &__avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  &__name{
    padding-left: 5px;
    text-decoration: none;
  }

  &__messages{
    padding: 10px 20px;
  }
}